.cardList{
    /* max-width: 80vw;
    margin-bottom: 30px;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 70px; */
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    margin: auto;
    padding: 20px;
}